.mavis {
  height: 40vh;
  width: 40vw;
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.7s;
  animation-timing-function: linear;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes shake {
  0% {
    transform: translate(0px, -2px);
  }

  50% {
    transform: translate(0px, 2px);
  }

  100% {
    transform: translate(0px, -2px);
  }
}
.maven:hover {
  height: 25vh;
  width: 15vw;
}
