body {
  background-image: url("pizza.png");
  background-repeat: repeat;
  background-size: 50px 50px;
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pie {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.caption {
  background-color: burlywood;
  margin-top: -5px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.next-button {
  cursor: pointer;
  padding: 1px 6px;
  border: 1px outset buttonborder;
  color: black;
  background-color: orangered;
  text-decoration: none;
  height: 55px;
  width: 55px;
}
